.cart-container {
  width: 80% !important;
  margin: auto;
}
.item-content {
  padding: 2%;
}
.cart-item-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cart-item img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cart-image-container {
  width: 30%;
  object-fit: fill;
}
.cart-item h3 {
  margin: 0;
  font-size: 1.2em;
}

.cart-item-actions button {
  display: block;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

.cart-item-actions button:hover {
  background-color: #373737;
}

/* CSS for cart total */
.cart-total {
  font-size: 1.4em;
  font-weight: bold;
  text-align: right;
  margin-top: 5%;
}

/* CSS for checkout button */
.cart-checkout-btn {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.cart-checkout-btn:hover {
  background-color: #000000;
}
