.artist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-top: 2rem;
}

.artist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

.artist-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.description {
  text-align: center;
  padding: 1rem;
}

.ViewProfileButton {
  display: block;
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

