html, body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;  /* for Internet Explorer/Edge*/
}

body {
  background-image: url("./assets/background/vectors/t15.svg");
  font-family: "catcheye2";
  background-size: cover;
  background-repeat: repeat;
}

body::-webkit-scrollbar {
  display: none;  /* for Chrome, Safari, and Opera*/
}

/* About Section Styling*/

.altBg {
  background-color: white;
}

.altBg:nth-child(2n) {
  background-color: rgb(71 85 105 / var(--tw-bg-opacity));
}

.txtShad {
  text-shadow: 0 0 5px blue;
}

@font-face {
  font-family: "catcheye-webfont";
  src: url('./assets/fonts/BaseNeue-ExpandedMedium.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "catcheye2";
  src: url('./assets/fonts/BaseNeue-ExpandedMedium.ttf') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  font-family: "catcheye-webfont";
  opacity: 80%;
}

@media only screen and (max-width: 1200px) {
  nav{
   font-size: 10px;
  }
}
@media only screen and (max-width: 800px) {
  nav{
    font-size: 10px;
  }


}

@media only screen and (max-width: 600px) {
  nav{
    font-size: 20px;
  }


}

@media only screen and (max-width: 400px) {
  nav{
    font-size: 10px;
  }
  
}

@media (max-width: 767.98px) {
  .loading-screen .loading-content .logo-container {
    margin: 0 auto;
  }
}