html, body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;  /* for Internet Explorer/Edge */
  scrollbar-width: none;  /* for Firefox */
}

body {
  background-image: url("./assets/background/vectors/t9.svg");
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none;  /* for Chrome, Safari, and Opera */
}


/* About Section Styling */

.altBg:nth-child(2n) {
  background-color: gray;
}

nav {
  background-image: url('./assets/background/vectors/t9.svg');
  background-size: cover;
}