html, body {
  overflow-x: hidden;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;  /* for Internet Explorer/Edge */
  scrollbar-width: none;  /* for Firefox */
}

body::-webkit-scrollbar {
  display: none;  /* for Chrome, Safari, and Opera */
}